﻿@{
    ViewData["Title"] = "Create";
}
@model ProductCreateInput

<body style="background-color:antiquewhite">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background-color:#FFFFFF; border-radius: 50px;">
                <div class="card-body">
                    <h5 class="card-title">Create Product</h5>

                    <form asp-controller="Products" asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="row mb-3 mt-1">
                            <div class="col-md-6">
                                <label for="exampleFormControlInput1" class="form-label" asp-for="CategoryId"></label>
                                <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.categoryList" id="categoryField">
                                    <option value="">select category</option>
                                </select>
                                <span class="text-danger" asp-validation-for="CategoryId"></span>
                            </div>

                            <div class="col-md-6">
                                <label asp-for="Name" class="form-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                        </div>
                        
                        <div class="row mb-3 pt-1">
                            <div class="book-price col-md-6" id="priceField">
                                <label asp-for="Price" class="form-label"></label>
                                <input asp-for="Price" class="form-control" />
                                <span class="text-danger" asp-validation-for="Price"></span>
                            </div>

                            <div class="col-md-6" id="publishedDateField">
                                <label asp-for="Feature.PublishedDate" class="form-label"></label>
                                <input asp-for="Feature.PublishedDate" class="form-control" id="publishedDateFieldValue" type="date" />
                                <span class="text-danger" asp-validation-for="Feature.PublishedDate"></span>
                            </div>
                        </div>
                        

                        <div class="row mb-3">
                            <div class="col-md-6" id="authorField">
                                <label asp-for="Feature.Author" class="form-label"></label>
                                <input asp-for="Feature.Author" class="form-control" id="authorFieldValue" />
                                <span class="text-danger" asp-validation-for="Feature.Author"></span>
                            </div>

                            <div class="col-md-6" id="ISBNField">
                                <label asp-for="Feature.ISBN" class="form-label"></label>
                                <input asp-for="Feature.ISBN" class="form-control" id="ISBNFieldValue" />
                                <span class="text-danger" asp-validation-for="Feature.ISBN"></span>
                            </div>
                        </div>
                        

                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label asp-for="Description" class="form-label"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span class="text-danger" asp-validation-for="Description"></span>
                            </div>

                            <div class="col-md-12 mt-3">
                                <label class="form-label" asp-for="PhotoFormFile"></label>
                                <input type="file" asp-for="PhotoFormFile" class="form-control" />
                                <span class="text-danger" asp-validation-for="PhotoFormFile"></span>
                            </div>
                        </div>
                        
                        <div class="row mb-3 mt-4 ml-0" style="width: 1070px;">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="p-3 m-3"></div>
</body>

<script>
    hideFields();

    document.getElementById("categoryField").addEventListener("change", function () { 

        var selectedCategory = document.getElementById("categoryField");
        var selectedCategoryValue = selectedCategory.options[selectedCategory.selectedIndex].text;

        if (selectedCategoryValue == "Book") {
            document.getElementById("authorField").style.display = "block";
            document.getElementById("authorFieldValue").value = "";

            document.getElementById("ISBNField").style.display = "block";
            document.getElementById("ISBNFieldValue").value = "";

            document.getElementById("publishedDateField").style.display = "block";
            document.getElementById("publishedDateFieldValue").value = "";

            document.querySelector('.book-price').classList.remove('col-md-12');
            document.querySelector('.book-price').classList.add('col-md-6');
        } else {
            hideFields();
        }
    });

    function hideFields() {
        document.getElementById('authorField').style.display = 'none';
        document.getElementById('ISBNField').style.display = 'none';
        document.getElementById('publishedDateField').style.display = 'none';

        document.querySelector('.book-price').classList.remove('col-md-6');
        document.querySelector('.book-price').classList.add('col-md-12');
    }
</script>