﻿@{
    ViewData["Title"] = "Update";
}
@model ProductUpdateInput

<body style="background-color:antiquewhite">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background-color:#FFFFFF; border-radius: 50px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center py-5">
                            <h1 class="text-secondary text-uppercase font-italic common-title">Update Product</h1>
                        </div>
                    </div>

                    <form class="user needs-validation" asp-controller="Products" asp-action="Update" method="post" enctype="multipart/form-data" novalidate>
                        <div asp-validation-summary="ModelOnly"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Picture" />

                        <div class="row mb-3 mt-1">

                            <div class="col-md-6">
                                <select asp-for="CategoryId" class="form-control form-control-user" style="height:3.5rem;" asp-items="@ViewBag.categoryList" id="categoryField" required></select>
                                @* <label for="exampleFormControlInput1" class="form-label" asp-for="CategoryId"></label> *@
                                <span class="text-danger" asp-validation-for="CategoryId"></span>
                            </div>

                            <div class="form-group col-md-6">
                                
                                <input asp-for="Name" class="form-control form-control-user" pattern="[a-zA-Z0-9*'?!.\s]{3,}" required />
                                <label asp-for="Name" class="form-label"></label>
                            </div>
                        </div>

                        <div class="row mb-3 pt-1">
                            <div class="book-price form-group col-md-6" id="priceField">
                                
                                <input asp-for="Price" class="form-control form-control-user" pattern="[0-9,]{1,10}" required />
                                <label asp-for="Price" class="form-label"></label>
                            </div>

                            <div class="col-md-6" id="publishedDateField">
                                
                                <input asp-for="Feature.PublishedDate" class="form-control form-control-user" id="publishedDateFieldValue" type="date" />
                                @* <label asp-for="Feature.PublishedDate" class="form-label"></label> *@
                                <span class="text-danger" asp-validation-for="Feature.PublishedDate"></span>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <div class="col-md-6" id="authorField">
                                
                                <input asp-for="Feature.Author" class="form-control form-control-user" id="authorFieldValue" />
                                <label asp-for="Feature.Author" class="form-label"></label>
                                <span class="text-danger" asp-validation-for="Feature.Author"></span>
                            </div>

                            <div class="col-md-6" id="ISBNField">
                                
                                <input asp-for="Feature.ISBN" class="form-control form-control-user" id="ISBNFieldValue" />
                                <label asp-for="Feature.ISBN" class="form-label"></label>
                                <span class="text-danger" asp-validation-for="Feature.ISBN"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="form-group col-md-12">
                                
                                <textarea asp-for="Description" class="form-control form-control-user" pattern="[a-zA-Z0-9*'?!.\s]{3,}" required></textarea>
                                <label asp-for="Description" class="form-label"></label>
                            </div>

                            <div class="col-md-12 mt-3">
                                @* <label class="form-label" asp-for="PhotoFormFile"></label> *@
                                <input type="file" asp-for="PhotoFormFile" class="form-control" style="border-radius:20px; height:56px;" required />
                            </div>
                        </div>

                        <div class="row mb-3 mt-4 ml-0" style="width: 1070px;">
                            <button type="submit" class="btn btn-primary" style="border-radius: 20px;"><i class="fas fa-save"></i> Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/checkout.js"></script>
</body>

<script>

    var selectedCategory = document.getElementById("categoryField");
    var selectedCategoryValue = selectedCategory.options[selectedCategory.selectedIndex].text;

    if (selectedCategoryValue != "Book" ) {
        hideFields();
    }

    document.getElementById("categoryField").addEventListener("change", function () {
        if (selectedCategoryValue == "Book") {
            document.getElementById("authorField").style.display = "block";
            document.getElementById("authorFieldValue").value = "";

            document.getElementById("ISBNField").style.display = "block";
            document.getElementById("ISBNFieldValue").value = "";

            document.getElementById("publishedDateField").style.display = "block";
            document.getElementById("publishedDateFieldValue").value = "";

            document.querySelector('.book-price').classList.remove('col-md-12');
            document.querySelector('.book-price').classList.add('col-md-6');
        } else {
            hideFields();
        }
    });

    function hideFields() {
        document.getElementById('authorField').style.display = 'none';
        document.getElementById('ISBNField').style.display = 'none';
        document.getElementById('publishedDateField').style.display = 'none';

        document.querySelector('.book-price').classList.remove('col-md-6');
        document.querySelector('.book-price').classList.add('col-md-12');
    }
</script>