
@{
    ViewData["Title"] = "GetAllOrders";
}
@model List<OrderViewModel>

<body style="background-color:antiquewhite">
    <section class="h-100" style="background-color:#FFFFFF; border-radius: 50px;">
        <div class="container h-100 py-5">
            <div class="row">
                <div class="col text-center py-5">
                    <h1 class="text-secondary text-uppercase font-italic common-title">Orders</h1>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Created Date
                        </th>
                        <th>
                            Buyer ID
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BuyerId)
                            </td>
                            <td>
                                <a asp-controller="Order" asp-action="GetOrderById" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</body>