﻿
@{
    ViewData["Title"] = "SuccessfulCheckout";
}

<body style="background-color:antiquewhite">
    <div class="container pt-5 pb-5" style="background-color:#FFFFFF; border-radius: 50px;">
        <div class="alert alert-info">
            <p>Payment completed successfully</p>
            <p>Order No : @ViewBag.orderId</p>
        </div>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
    </div>
    <div class="p-5"></div>
    <div class="p-5"></div>
    <div class="p-5"></div>
    <div class="pt-4"></div>
</body>