
@{
    ViewData["Title"] = "Index";
}
@model UserViewModel

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">User Information</h4>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <td>UserName</td>
                        <td>@Model.UserName</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>@Model.City</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
@* TO DO: Kullanıcı bilgilerini güncelleyebilmelidir *@