@{
    ViewData["Title"] = "AdminSignIn";
}
@model MB.Web.Models.SigninInput

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Admin Sıgn In</h5>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form asp-controller="Auth" asp-action="AdminSignIn" method="post">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" value="erdemc@hotmail.com" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" value="Password12*" type="password" class="form-control" id="exampleInputPassword1">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>



