
@{
    ViewData["Title"] = "Register";
}
@model RegisterInput

@* <form asp-controller="Auth" asp-action="Register" method="post" class="row g-3">
    <div class="col-md-6">
        <label asp-for="UserName" class="form-label">Username</label>
        <input asp-for="UserName" value="erdemmm" type="text" class="form-control" id="inputUserName4">
    </div>
    <div class="col-md-6">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" value="erdemca@hotmail.com" type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" value="Password12*" type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-md-6">
        <label asp-for="City" class="form-label">City</label>
        <input asp-for="City" value="Istanbul" type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form> *@



<body class="bg-gradient" style="background-color:antiquewhite">

    <div class="containerr">
        <div class="row justify-content-center pt-3">
            <div class="col-xxl-12">
                <div class="card o-hidden border-0 shadow-lg my-5" style="border-radius: 50px">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center pt-5">
                                        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                    </div>
                                    <div class="text-center">
                                    </div>
                                    <form class="user" asp-controller="Auth" asp-action="Register" method="post">
                                        <div class="form-group pt-3">
                                            <input asp-for="UserName" type="text" class="form-control form-control-user"
                                                   id="exampleFirstName" placeholder="Full Name">
                                        </div>
                                        <div class="form-group pt-3">
                                            <input asp-for="Email" type="email" class="form-control form-control-user"
                                                   id="exampleInputEmail" placeholder="Email Address">
                                        </div>
                                        <div class="form-group pt-3">
                                            <input asp-for="City" type="text" class="form-control form-control-user"
                                                   id="exampleInputCity" placeholder="City">
                                        </div>
                                        <div class="form-group row pt-3 pb-3">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input asp-for="Password" type="password" class="form-control form-control-user"
                                                       id="exampleInputPassword" placeholder="Password">
                                            </div>
                                            <div class="col-sm-6">
                                                <input asp-for="RePassword" type="password" class="form-control form-control-user"
                                                       id="exampleRepeatPassword" placeholder="Repeat Password">
                                            </div>
                                        </div>
                                        <div asp-validation-summary="ModelOnly" class="text-danger pb-2"></div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Register Account
                                        </button>
                                        <hr>
                                    </form>
                                    <hr>
                                    <div class="text-center pb-4">
                                        <a class="small" asp-area="" asp-controller="Auth" asp-action="SignIn">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>