
@{
    ViewData["Title"] = "Create";
}
@model CategoryCreateInput

<body style="background-color:antiquewhite">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background-color:#FFFFFF; border-radius: 50px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center py-5">
                            <h1 class="text-secondary text-uppercase font-italic common-title">Create Category</h1>
                        </div>
                    </div>
                    <form class="needs-validation" asp-controller="Categories" asp-action="Create" method="post" novalidate>
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name" type="text" class="form-control" pattern="[a-zA-Z0-9*'?!.\s]{3,50}" required />
                        </div>
                        <div class="row mb-3 mt-4 ml-0" style="width: 1070px;">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="p-5 m-5"></div>
    <div class="p-5 m-5"></div>
    <div class="p-3"></div>

    <script src="~/js/checkout.js"></script>
</body>